* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
  }

  .hero {
    background-image: url('../assets/73JXLXJ5ZNEQDBRSJ7ES27RCLY.avif'); /* Fondo temático */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
  }

  .logo {
    max-width: 200px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .btn-login {
    background-color: #4115df;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .btn-login:hover {
    background-color: #c7d31c;
  }

  footer {
    background: #111;
    color: #ccc;
    text-align: center;
    padding: 15px;
    font-size: 14px;
  }